[project]
	description = Kibana3 Auth proxy, uses lusis/chef-kibana cookbook
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Denis Barishev (dennybaa)
[access "refs/for/refs/*"]
	read = group user/Denis Barishev (dennybaa)
	push = group user/Denis Barishev (dennybaa)
	label-Code-Review = -2..+2 group user/Denis Barishev (dennybaa)
	label-Verified = -1..+1 group user/Denis Barishev (dennybaa)
	rebase = group user/Denis Barishev (dennybaa)
	removeReviewer = group user/Denis Barishev (dennybaa)
	submit = group user/Denis Barishev (dennybaa)
[access "refs/heads/*"]
	read = group user/Denis Barishev (dennybaa)
	create = group user/Denis Barishev (dennybaa)
	push = +force group user/Denis Barishev (dennybaa)
	pushMerge = group user/Denis Barishev (dennybaa)
[access "refs/tags/*"]
	push = +force group user/Denis Barishev (dennybaa)
	pushTag = group user/Denis Barishev (dennybaa)
	pushSignedTag = group user/Denis Barishev (dennybaa)
